<mat-card>
    <mat-card-title>Người dùng hệ thống</mat-card-title>
    <mat-card-subtitle>
        Danh sách người dùng hệ thống
    </mat-card-subtitle>
    <mat-card-content>
        <div class="p-y-4">
            <mat-form-field class="w-full">
                <input matInput type="text" [(ngModel)]="searchKey" (keyup.enter)="searchUsers()"
                    placeholder="Tìm kiếm" />
                <button mat-icon-button matSuffix (click)="searchUsers()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
            <mat-card-actions>
                <button mat-button color="primary" (click)="addUser()">
                    <mat-icon>add</mat-icon>
                    Thêm mới
                </button>
                <button mat-button *ngIf="isShowLockButton()" color="warn" (click)="deactivate()">
                    <mat-icon>block</mat-icon>
                    Vô hiệu
                </button>
                <button mat-button *ngIf="isShowUnlockButton()" color="success" class="mat-success-outlined" (click)="openLock()">
                    <mat-icon>lock_open</mat-icon>
                    Mở khóa
                </button>
                <button mat-button *ngIf="listChecked.size > 0" color="accent" (click)="delete()">
                    <mat-icon>delete</mat-icon>
                    Xóa
                </button>
            </mat-card-actions>
        </div>
        <ng-container *ngIf="loading; else loaded">
            <app-loading></app-loading>
        </ng-container>
        <ng-template #loaded>
            <div class="table-container">
                <table mat-table [dataSource]="userList" class="table-user">
                    <ng-container [matColumnDef]="column" *ngFor="let column of columnProps; index as i">
                        <th mat-header-cell *matHeaderCellDef>
                            <ng-container *ngIf="column == 'action'; else notAction">
                                <mat-checkbox [(ngModel)]="isAllChecked"
                                    (ngModelChange)="toggleCheckAllItems($event)"></mat-checkbox>
                            </ng-container>
                            <ng-template #notAction>
                                {{displayedColumns[i]}}
                            </ng-template>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="column == 'status'; else other">
                                <ng-container *ngIf="element[column]; else notActive">
                                    <mat-icon class="active">check</mat-icon>
                                </ng-container>
                                <ng-template #notActive>
                                    <mat-icon class="inactive">cancel</mat-icon>
                                </ng-template>
                            </ng-container>
                            <ng-template #other>
                                <ng-container *ngIf="column == 'action'; else other2">
                                    <mat-checkbox [checked]="listChecked.has(element._id)"
                                        (change)="toggleCheckItem($event.checked, element._id)"></mat-checkbox>
                                </ng-container>
                                <ng-template #other2>
                                    <ng-container *ngIf="column == 'fullname'; else other3">
                                        {{ element.firstname + ' ' + element.lastname }}
                                    </ng-container>
                                    <ng-template #other3>
                                        <ng-container *ngIf="column == 'level'; else other4">
                                            {{element[column] | levelRole}}
                                        </ng-container>
                                        <ng-template #other4>
                                            <ng-container *ngIf="column == 'dateCreated'; else other5">
                                                {{element[column] | date: "dd/MM/yyyy HH:MM"}}
                                            </ng-container>
                                            <ng-template #other5>
                                                {{element[column]}}
                                            </ng-template>
                                        </ng-template>
                                    </ng-template>
                                </ng-template>
                            </ng-template>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnProps"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnProps;"></tr>
                </table>
            </div>
        </ng-template>
        <mat-paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="page" (page)="onChangePage($event)"
            aria-label="Select page">
        </mat-paginator>
    </mat-card-content>
</mat-card>