<h2 mat-dialog-title>
    {{title}}
</h2>
<div mat-dialog-content>
    <mat-form-field class="w-full">
        <input matInput type="text" [(ngModel)]="search" (keyup.enter)="getDataWallets()" placeholder="Tìm kiếm" />
        <button mat-icon-button matSuffix (click)="getDataWallets()">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
    <ng-container *ngIf="!loading; else loadingTpl">
        <mat-list>
            <mat-list-item class="hover-item" *ngFor="let wallet of wallets" (click)="select(wallet)">
                <span class="icon icon-select-wallettype" mat-list-icon>
                    <ml-icon [path]="wallet.walletType.icon.path"></ml-icon>
                </span>
                <div mat-line>
                    <div fxLayout="row">
                        <div fxFlex="90" fxLayout="row" fxLayoutAlign="start center">
                            {{wallet.walletType.name}}
                        </div>
                        <div fxFlex="10" fxLayout="row" fxLayoutAlign="center center" *ngIf="wallet._id == selectedWallet._id">
                            <mat-icon>check</mat-icon>
                        </div>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
    </ng-container>
</div>
<div mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="save()">Lưu</button>
    <button mat-button mat-dialog-close (click)="close()">Đóng</button>
</div>

<!-- loading -->
<ng-template #loadingTpl>
    <app-loading></app-loading>
</ng-template>