// ==================================================
// Position
// ==================================================

$position: (
  'position': (
    property: position,
    class: 'position',
    values: (
      static: static,
      fixed: fixed,
      absolute: absolute,
      relative: relative,
      sticky: sticky
    )
  )
);

$utilities: map-merge($position, $utilities);
