<h2 mat-dialog-title>{{title}}</h2>
<div mat-dialog-content>
    <form class="form-field-full" [formGroup]="formGroup">
        <mat-form-field appearance="outline">
            <textarea matInput placeholder="Nhập nội dung câu hỏi" type="text" formControlName="question" required></textarea>
            <mat-error *ngIf="formGroup.get('question').invalid">Nội dung câu hỏi bắt buộc nhập</mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-button color="primary" [disabled]="formGroup.invalid || loading" (click)="save()">Lưu</button>
    <button mat-button (click)="closeDialog()">Đóng</button>
</div>