<breadcrumb></breadcrumb>

<mat-card>
    <mat-card-title></mat-card-title>
    <mat-card-content>
        <mat-tab-group class="m--16 ml">
            <mat-tab label="Loại ví"> 
                <mat-card class="card-inside-tab">
                    <mat-card-title>Loại ví các chi tiêu mặc định</mat-card-title>
                    <mat-card-subtitle>
                        Các loại ví này sẽ hiển thị mặc định cho tất cả các người dùng.
                    </mat-card-subtitle>
                    <mat-card-content>
                        <div class="p-y-4">
                            <mat-form-field class="w-full">
                                <input matInput type="text" [(ngModel)]="searchWalletTypeKey"
                                    (keyup.enter)="searchWalletTypes()" placeholder="Tìm kiếm" />
                                <button mat-icon-button matSuffix (click)="searchWalletTypes()">
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>
                            <mat-card-actions>
                                <button mat-button color="primary" (click)="openAddWalletTypeDialog()">
                                    <mat-icon>add</mat-icon>
                                    Thêm mới
                                </button>
                                <button mat-button color="accent" (click)="deleteWalletTypes()">
                                    <mat-icon>delete</mat-icon>
                                    Xóa
                                </button>
                            </mat-card-actions>
                        </div>
                        <ml-wallet-type #walletTypes [icons]="icons" [search]="searchType"></ml-wallet-type>
                    </mat-card-content>
                </mat-card>
            </mat-tab>
            <mat-tab label="Icons">
                <mat-card class="card-inside-tab">
                    <mat-card-title>Icons hệ thống</mat-card-title>
                    <mat-card-subtitle>
                        Các icons này đang được clone từ app money-lover. Sử dụng với mục đích thương mại vớ vẩn đi tù!
                    </mat-card-subtitle>
                    <mat-card-content>
                        <div class="p-y-4">
                            <mat-card-actions>
                                <button mat-button color="primary" (click)="openAddIconDialog()">
                                    <mat-icon>add</mat-icon>
                                    Thêm mới
                                </button>
                                <button mat-button color="accent" (click)="deleteIcon()">
                                    <mat-icon>delete</mat-icon>
                                    Xóa
                                </button>
                            </mat-card-actions>
                        </div>
                        <icon-mng #iconsMng [icons]="icons"></icon-mng>
                    </mat-card-content>
                </mat-card>
            </mat-tab>
            <mat-tab label="Chủng loại">
                <mat-card class="card-inside-tab">
                    <mat-card-title>Chủng loại các chi tiêu mặc định</mat-card-title>
                    <mat-card-subtitle>
                        Các chủng loại này sẽ hiển thị mặc định cho tất cả các người dùng.
                    </mat-card-subtitle>
                    <mat-card-content>
                        <div class="p-y-4">
                            <mat-form-field class="w-full">
                                <input matInput type="text" [(ngModel)]="searchCategoryKey"
                                    (keyup.enter)="searchCategories()" placeholder="Tìm kiếm" />
                                <button mat-icon-button matSuffix (click)="searchCategories()">
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>
                            <mat-card-actions>
                                <button mat-button color="primary" (click)="openAddCategoryDialog()">
                                    <mat-icon>add</mat-icon>
                                    Thêm mới
                                </button>
                                <button mat-button color="accent" (click)="deleteCategories()">
                                    <mat-icon>delete</mat-icon>
                                    Xóa
                                </button>
                            </mat-card-actions>
                        </div>
                        <ml-category #categories [icons]="icons" [search]="search"></ml-category>
                    </mat-card-content>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>