.report-number-container {
    div.report-part {
        padding: 12px;
    }
}

.overall-in-outcome {
    padding: 12px;
}

.mat-card {
    .mat-card-title {
        font-size: 20px;
    }
    
    .mat-card-title, .mat-card-subtitle {
        text-align: center;
    }

    .mat-card-content {
        text-align: center;
    }

    .report-number {
        font-size: 30px;
        font-weight: 400;
    }
}