<div class="p-16">
    <mat-card class="p-x-32">
        <mat-card-title>Quản lý ví tiền</mat-card-title>
        <mat-card-subtitle>
            Bao gồm các loại nguồn tiền bạn đang có, ví dụ như các ví điện tử, tiền mặt hay thẻ ngân hàng,...
        </mat-card-subtitle>
        <mat-card-content>
            <div class="p-y-8">
                <div>
                    <button mat-raised-button color="primary" class="m-r-16" (click)="openAddWallet()">
                        <mat-icon>add</mat-icon>
                        Thêm mới
                    </button>
                    <button mat-raised-button color="accent" (click)="deleteWallet()">
                        <mat-icon>delete</mat-icon>
                        Xóa
                    </button>
                </div>
            </div>
            <div class="matero-row hover-focus cursor-pointer" fxLayout="row" *ngFor="let wallet of listWallets; let i = index">
                <div fxLayout="row" fxLayoutAlign="center center" class="matero-col p-4" fxFlex="20" fxFlex.gt-sm="10">
                    <ml-icon [path]="wallet.walletType.icon.path"></ml-icon>
                </div>
                <div class="matero-col p-16" fxFlex="70" fxFlex.gt-sm="85">
                    <div class="matero-col" fxFlex="80">
                        <h3 class="mat-display-h3">{{wallet.walletType.name}}</h3>
                        <div>{{wallet.amount | foramtNumber}}</div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center" class="matero-col" fxFlex="20">
                        <button mat-raised-button color="accent" (click)="editWallet(wallet._id)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" class="matero-col p-16" fxFlex="10" fxFlex.gt-sm="5">
                    <mat-checkbox [(ngModel)]="listChecked[i]"></mat-checkbox>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>