<div class="matero-row" fxLayout="row wrap">
    <div class="matero-col list-transactions one-half w-full" fxFlex="100" fxFlex.gt-md="60" fxFlex.gt-lg="70"
        fxLayout="row" fxLayoutAlign="center start">
        <mat-card>
            <mat-card-content>
                <div fxLayout="row" fxFill class="p-y-16">
                    <div fxFlex="grow" class="title" fxLayout="row" fxLayoutAlign="start center">Thống kê giao dịch
                    </div>
                    <div fxFlex="auto">
                        <mat-icon class="cursor-pointer" (click)="createTransaction()">add</mat-icon>
                    </div>
                </div>
                <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedIndexChange)="changeTab($event)">
                    <mat-tab *ngFor="let tab of listMonthTabs" [label]="tab.title">
                        <ng-template matTabContent>
                            <ng-container *ngIf="!loading; else loadingTpl">
                                <ng-container *ngTemplateOutlet="displayList"></ng-container>
                            </ng-container>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="matero-col report-overview one-half" fxFlex.gt-md="40" fxFlex.gt-lg="30" fxFlex="100">
        <mat-card>
            <mat-card-header>Báo cáo thu chi</mat-card-header>
            <mat-card-content>
                <div id="income-outcome-chart">
                    <apx-chart [series]="inOutcomeChartOptions.series" [labels]="inOutcomeChartOptions.labels"
                        [chart]="inOutcomeChartOptions.chart" [colors]="inOutcomeChartOptions.colors"
                        [tooltip]="inOutcomeChartOptions.tooltip"></apx-chart>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>Báo cáo chi tiêu theo chủng loại</mat-card-header>
            <mat-card-content>
                <div class="outcome-category-based-chart">
                    <apx-chart [series]="outcomeChartOptions.series" [labels]="outcomeChartOptions.labels"
                        [chart]="outcomeChartOptions.chart" [tooltip]="outcomeChartOptions.tooltip"></apx-chart>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>Báo cáo thu nhập theo chủng loại</mat-card-header>
            <mat-card-content>
                <div class="income-category-based-chart">
                    <apx-chart [series]="incomeChartOptions.series" [labels]="incomeChartOptions.labels"
                        [chart]="incomeChartOptions.chart" [tooltip]="incomeChartOptions.tooltip"></apx-chart>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- display list of transaction, grouped by category -->
<ng-template #displayList>
    <ng-container *ngFor="let category of listCategories">
        <ng-container *ngIf="checkIfCategoryHasData(category)">
            <div class="w-full m-t-8" fxLayout="row">
                <!-- category name and total value -->
                <div fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                    <span class="icon">
                        <ml-icon [path]="category.icon.path"></ml-icon>
                    </span>
                    <span class="category-name">{{ category.name }}</span>
                </div>
                <div class="total-cate" fxFlex="20">
                    {{ getTotalValueInOneCategory(category) }}
                </div>
                <!-- transaction details on current category -->
            </div>
            <mat-list role="list">
                <mat-list-item class="m-y-8" role="listitem"
                    *ngFor="let tran of getListTransactionOfOneCategory(category)">
                    <div class="hover-item transaction-item p-8" fxLayout="row" fxFill (click)="viewTransaction(tran._id)">
                        <div fxFlex="grow" class="transaction-date-note">
                            <div class="date">{{ tran.dateCreatedObj.toLocaleDateString('vi-VN') }}</div>
                            <div class="note">{{ tran.note }}</div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="end center"
                            [ngClass]="{'transaction-amount': true, 'income': category.transactionType == 1, 'outcome': category.transactionType == 0}">
                            {{ formatNumber(tran.amount) }}
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </ng-container>
    </ng-container>
</ng-template>

<!-- loading -->
<ng-template #loadingTpl>
    <app-loading></app-loading>
</ng-template>