.icon {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-right: 10px;
}

.transaction-date-note {
    .note {
        color: rgba(0,0,0,.26);
    }
}

.category-name {
    font-size: large;
    font-weight: 500;
}

.total-cate {
    display: inline-flex;
    align-items: center;
    justify-content: end;
    padding-right: 16px;
    font-size: large;
}

.income {
    color: #039be5;
}

.outcome {
    color: #e51c23;
}

.title {
    font-size: large;
    font-weight: 600;
}